@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}


.scrollable-div::-webkit-scrollbar {
  width: 8px;
}


.scrollable-div::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 

.scrollable-div::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}


.scrollable-div::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
