div.input_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
}
div.input_wrapper#error::after{ 
    content:'⚠ ' attr(data-error);
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 1em;
    color: rgb(230, 0, 0);
    text-transform: uppercase;
    font-size: 12px;
}
div.input_wrapper#error{
    input{
        border-color: rgb(230, 0, 0);
        outline: rgb(230, 0, 0);
        --tw-ring-color: rgb(230, 0, 0);
    }
}

